@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Plus Jakarta Sans", serif;
}

::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #29331d;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d3d3d3;
  border-radius: 10px;
}

select {
  background: url("/drop-down.svg");
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: right 6px top 12px;
  padding: 12px 40px 12px 10px;
  height: 48px;
  appearance: none;
  font-size: 16px;
  outline: none;
  box-shadow: none;
}

.menu-listing ul {
  padding: 0 0 0 0;
  position: relative;
}

.menu-listing ul:after {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  width: 2px;
  height: calc(100% - 28px);
  background: #98a2b3;
}
.menu-listing > ul,
.menu-listing > ul > li {
  padding: 0 !important;
}

.menu-listing > ul > li:after,
.menu-listing > ul:nth-child(1):after {
  display: none;
}

.menu-listing ul:nth-child(3):after {
  height: 50px;
}

.menu-listing ul li {
  font-size: 14px;
  font-weight: 400;
  padding: 18px 0 18px 50px;
  position: relative;
  text-transform: capitalize;
}

.menu-listing ul li:after {
  content: "";
  position: absolute;
  left: 12px;
  top: 30px;
  width: 32px;
  height: 2px;
  background: #98a2b3;
}
